
/* ---------------------------
------- Recon CSS File -------
-----------------------------*/


/*--------------
All Contents
--------------*/

/*-----------------
1. Reset.css
2. Helper Classes
3. Hamburger Menu Styling
4. Off Canvas Styling
5. Homepage Background Styling
6. Split Section Styling
7. About Page Styling
8. Portfolio Filter Page
9. Portfolio Single
10. Contact Page Styling
11. All Media Queries
------------------*/


/*----- 1. Reset.css -----*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --- Common Styles ---*/

h1 {
  font-size: 16px;
}

/*----- Helper Classes -----*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
}


::-moz-selection {
    color: #1106CC;
    background: #FFFF99;
}

::selection {
    color: #1106CC;
    background: #FFFF99;
}

.nopadding {
	padding: 0;
}

.custompadding {
	padding-left: 5px;
	padding-right: 5px;
}

.no-margin {
	margin-right: 0;
	margin-left: 0;
}

.underline {
	display: inline;
	border-bottom: 3px solid #111;
	padding-bottom: 0;
}

.after-line {
	height: 3px;
	width: 100px;
	background: #001CFF;
	margin-top: -10px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.sup-title {
	display: inline-block;
	font-size: 1em;
	padding: 4px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	background: #000000;
	margin: 0 0 20px 0;
}

.error-message {
	color: #FF3333;
	font-family: Poppins;
	margin-top: 5px;
}

.success-message {
	color:#009900;
	font-family: Poppins;
	margin-top: 5px;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   opacity: 1;
   background-color: rgba(255, 255, 255, 0.5);
   z-index: 9999;
   text-align: center;
}

#loading-image {
	display: inline;
  top: 40%;
  position: relative;
  z-index: 9999;
}

.logo {
  margin: 0 auto;
	padding: 0px 0px;
	z-index: 111;
}

.logo:hover, .logo:focus {
	text-decoration: none;
	color: #FFF;
}

.wrapper {
	width: 100%;
	height: 100%;
}


/* -------------------------------------------------
--------------- 3.Home Page Styling Starts -----------
---------------------------------------------------*/

.main {
  width: 100%;
	height: 100%;
	background: #F2F2F2;
	transition: 0.5s;
}

/* --------------------------------------------------------
-------------- Top Fixed Navigation Styling ---------------
----------------------------------------------------------*/
.top-nav {
  position: absolute;
  top: 30px;
  right: 20px;
	z-index: 100;
}

.top-nav li {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
	letter-spacing: 1px;
  display: inline-block;
  margin-right: 25px;
}

.top-nav a {
  position: relative;
  display: inline-block;
  color: #111111;
  text-decoration: none;
}

.top-nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #072DEF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.top-nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.no-touch .top-nav a:hover {
  text-decoration: none;
  color: #000;
}
/*
.top-nav .active a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #072DEF;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.top-nav .active a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

*/






/* --------------------------------------------------
---------- Hamburger and Navigation Starts ----------
----------------------------------------------------*/


.nav-trigger {
  padding: 8px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50px;
	background-color: #F2F2F1;
	z-index: 111;
  transition: all 400ms ease-in;
}

.is-active.nav-trigger {
  background: #DDDDDD;
}

.hamburger {
  position: relative;
  width: 25px;
  height: 25px;
  transition: transform 500ms ease-in-out;
}

.nav-trigger:active .hamburger {
  transition: transform 50ms;
  transform: scale(.95);
}

.hamburger::before, .hamburger::after, .hamburger .icon {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
	left: 2px;
  background: #111111;
  transform-origin: 100% 50%;
  transition: all 100ms ease-in-out;
}

.hamburger::before {
  top: 5px;
}
.hamburger .icon {
	width: 21px;
  top: 11px;
  transform-origin: 50% 50%;
}
.hamburger::after {
  top: 17px;
}
/*
.is-active .hamburger {
  transform: rotateZ(-360deg);
}


.is-active .nav-trigger:active .hamburger {
  transform: scale(.95) rotateZ(-360deg);
}
*/
.is-active .hamburger::before,
.is-active .hamburger::after,
.is-active .hamburger .icon {
  background: #111111;
}

.is-active .hamburger::before {
  transform: translate3d(-4px, -1px, 0) rotateZ(-45deg);
}
.is-active .hamburger .icon {
  transform: rotateY(-90deg);
  transition: transform 100ms, background-color 400ms ease-in-out;
}
.is-active .hamburger::after {
  transform: translate3d(-4px, 2px, 0) rotateZ(45deg);
}

/*-----------------------------------------------------
----------- Hamburger Menu Styling Ends ---------------
------------------------------------------------------*/

/* ------ Nav Menu Styling -----*/

#nav-menu {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 110;
  width: 75%;
  background-color: #F2F2F2;
	background-size: cover;
	overflow-y: auto;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
    transition: all .6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}


#nav-menu .navigation {
  margin-top: 150px;
  margin-bottom: 20px;
}


#nav-menu li {
  padding-bottom: 1em;
}

#nav-menu li {
  display: block;
  line-height: 2em;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: center;
  line-height: 2;
  padding-bottom: 1em;
  color: #222;
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	transform: translateX(50px);
	-webkit-transition: .8s;
  -moz-transition: .8s;
    transition: .8s;
}

#nav-menu a {
  position: relative;
  color: #111;
	text-decoration: none;
}


#nav-menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #072DEF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#nav-menu li:hover a::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.no-touch #nav-menu a:hover {
  color: #000;
	text-decoration: none;
}


/* ----- Dimming Main Content When Navigation is Active -----*/

.main::before {
    display: block;
    content: "";
    width: 100%;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    -moz-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    -o-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    transition: opacity 0.5s ease, height 1ms 0.5s ease;
}

.main.is-active.main::before{
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    height: 100%;
    opacity: 1
}


#nav-menu.is-active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-overflow-scrolling: touch;
}


#nav-menu.is-active li {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: .8s 0s;
  -moz-transition: .8s 0s;
    transition: .8s 0s;
}

#nav-menu .copyright-text {
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 200;
	text-align: center;
  letter-spacing: 1px;
  padding: 20px 20px;
}

.nav-social ul {
  padding: 0.5em;
  list-style-type: none;
	text-align: center;
}

.nav-social li {
  display: inline !important;
  padding-right: 0.5em !important;
	padding-left: 0.5em !important;
}

.nav-social i, .nav-social a {
  font-size: 21px;
  color: #072DEF;
}

.nav-social a:before {
  display: none;
}

@media only screen and (min-width: 768px) {

	#nav-menu {
	  width: 50%;
	}

  #nav-menu .navigation {
    margin-top: 150px;
  }

	#nav-menu li {
	  font-size: 24px;
	  text-align: center;
	  padding-left: 0em;
	}

  .nav-social ul {
    padding: 0.4em;
  }
}




/* --------------------------------------------------
------------ Hamburger and Navigation Ends ----------
----------------------------------------------------*/

/* --------------------------------------------------
------ Homepage Split Layout Styling Starts ---------
---------------------------------------------------*/


.left-section {
		background-color: #ebebf9;
		position: absolute;
    left: 0;
		right: 0;
		top: 0;
		bottom: 0;
    width: 50%;
		height: 100%;
		overflow: hidden;
    z-index: 1;
}

.personal {
	background-color: #F1F1F1;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
}

.no-background {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

.main-logo {
	padding: 150px 0 0 0;
	text-align: center;
}


.right-section {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
	padding: 0 40px 0 40px;
	width: 50%;
	height: 100%;
  background: #FFFFFF;
  z-index: 99;
  overflow: hidden;
  overflow-y: auto;
}

.intro {
	padding-top: 50px;
	text-align: center;
}


.intro .intro-text h4 {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 600;
	color: #A1A1A1;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1.2;
	margin: 0 0 20px 0;
}

.intro .intro-text h1 {
	font-family: Poppins;
	font-size: 42px;
	font-weight: 600;
	color: #404040;
	letter-spacing: -2px;
	line-height: 1.2;
	margin: 0 0 15px 0;
}

.intro .intro-text p {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	color: #A1A1A1;
	letter-spacing: 0px;
	line-height: 1.5;
	margin: 0 0 20px 0;
}


.intro .intro-text h3 {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
	color: #434343;
	text-transform: uppercase;
	letter-spacing: 0;
	line-height: 1.2;
	margin: 50px 0 30px 0;
}

.intro .intro-text a {
	display: inline-block;
	margin-right: 15px;
}

.btn-contact {
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 600;
	color: #001CFF;
	display: inline-block;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid;
	border-color: #001CFF;
	padding: 10px 20px;
	border-radius: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
	-webkit-transform: 0.5s;
	-moz-transform: 0.5s;
	transition: 0.5s;
}

.btn-contact:hover, .btn-contact:focus {
	color: #FFFFFF;
	background: #001CFF;
	border-color: #001CFF;
	text-decoration: none;
}


/* ----------------------------------------------------
-------------- About Page Styling Starts --------------
------------------------------------------------------*/


.about {
	/*padding: 100px 0 0 0;*/
}

.about .about-intro h4 {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	color: #A1A1A1;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

.about .about-intro h1 {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	color: #222222;
	line-height: 1.4;
}

.about img {
	margin: 30px 0 30px 0;
}

.about-details {
	padding: 50px 0 0 0;
	overflow: hidden;
}
/*
.about-details p {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	color: #222222;
	line-height: 1.4;
}*/

.about-details .work-list {
	padding: 10px 0 0 0;
	overflow: hidden;
}

.about-details .work-list i {
	font-size: 42px;
	text-align: center;
}

.about-details .work-list p {
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 1.4;
	margin: 20px 0 20px 0;
}

.about-details .col-sm-4 {
	background: #e6e6ff;
	padding: 20px 20px 20px 20px;
}

.about-details .col-sm-4:nth-child(2) {
	background: #ffcccc;
}

.about .experience {
	padding: 70px 0 0 0;
}

.about .experience h4 {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	color: #A1A1A1;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

.about .experience h1 {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	color: #222222;
	line-height: 1.4;
}

.about .experience ul {
  padding: 50px 0 0 0;
}

.about .experience li {
  margin-bottom: 30px;
	background: rgba(230, 230, 255, 0.5);
	padding: 20px;
}

.about .experience h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: #666666;
	text-align: left;
  letter-spacing: 0px;
  line-height: 1.2;
}

.about .experience p {
  font-family: Poppins;
  font-size: 14px !important;
  font-weight: 300;
  color: #444444;
  margin: 20px 0 10px 0;
	line-height: 1.4;
}

.about .experience h6 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #A1A1A1;
	text-align: left;
	margin: 20px 0 0 0 ;
  letter-spacing: 1px;
}

.about .cta {
	padding: 30px 0 30px 0;
}

.about .cta p {
	font-family: Poppins;
	font-size: 21px;
	font-weight: 600;
	color: #454545;
	text-align: left;
}

.about .btn-contact {
	border: 2px solid #001CFF;
	padding: 4px 12px;
	margin: 1em auto;
}



/* ----------------------------------------------------
----------- Portfolio Filter Styling Starts -----------
-----------------------------------------------------*/


.portfolio-intro {
	padding: 150px 0 0 0;
	overflow: hidden;
}

.portfolio-intro h4 {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	color: #A1A1A1;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 10px 0;
}

.portfolio-intro h1 {
	font-family: Poppins;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 400;
	color: #444444;
}

.portfolio {
	padding: 50px 0 0 0;
}

.portfolio nav {
 padding-bottom: 30px;
 text-align: center;
}

.portfolio .categories ul li {
 display: inline;
   list-style: none;
}

.portfolio .categories ul li a {
   display: inline;
   font-family: Poppins;
   font-weight: 400;
   font-size: 14px;
   line-height: 2.5;
   text-decoration: none;
   color: #666666;
   margin-right: 20px;
}

.portfolio .categories ul li a.active {
   text-decoration: line-through;
   color: #000000;
}

.portfolio_filter {
   padding-left: 0;
}

.portfolio-item {
   overflow: hidden;
	 display: none;
   margin-bottom: 10px;
   display: block;
}

.portfolio-overlay {
 background: rgba(255, 255, 255, 0.80);
 position:absolute;
 top: 0;
 left: 5px;
 height: calc(100% - 10px);
 width: calc(100% - 10px);
 opacity: 0;
 -webkit-transition: 0.5s;
 -moz-transition: 0.5s;
 -o-transition: 0.5s;
   transition: 0.5s;
}

.overlay-items {
 height: 100px;
 position: absolute;
 top: 45%;
 left: 0;
 right: 0;
 visibility: hidden;
}

.overlay-items p {
 margin-top: 1em;
 opacity: 0;
 font-size: 12px;
 font-family: Poppins;
 font-weight: 600;
 letter-spacing: 2px;
 color: #FFF;
 padding: 5px 5px;
 background: #111111;
 display: inline-block;
 -webkit-transform: translateY(20px);
 -moz-transform: translateY(20px);
 transform: translateY(20px);
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 transition: 0.3s;
 -webkit-transition-delay: 0.3s;
 -moz-transition-delay: 0.3s;
 transition-delay: 0.2s;
}

.portfolio-item:focus, .portfolio-item:hover {
    text-decoration: none;
}

.portfolio-item:hover .portfolio-overlay {
 transform: scale(1);
 opacity: 1;
}

.portfolio-item:hover .overlay-items {
 visibility: visible;
}

.portfolio-item:hover h5, .portfolio-item:hover p {
 opacity: 1
}

.portfolio-item:hover p {
  opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
  text-decoration: none;
}


/* ----- Portfolio Filter Styling Ends ----- */


/*-----------------------------------------------------
------------ Project Single Styling Starts ------------
------------------------------------------------------*/

.project-single {
	padding: 150px 0 0 0;
	overflow: hidden;
}

.project-single .project-intro {
	padding: 20px 0 20px 0;
	overflow: hidden;
}

.project-single .project-intro h1 {
	font-family: Poppins;
	font-size: 24px;
	font-weight: 600;
	color: #606060;
	letter-spacing: 0;
	line-height: 1.2;
	margin: 0 0 15px 0;
}

.project-single .project-intro h4 {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	color: #606060;
	letter-spacing: 0;
	line-height: 1.2;
	margin: 0 0 15px 0;
}

.project-single .project-intro p {
	font-family: Poppins;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	color: #A1A1A1;
}

.project-image {
	padding: 30px 0 30px 0;
}

.project-details {
	background: #eeeeee;
	overflow: hidden;
	padding: 30px 20px 30px 20px;
}

.project-details ul {
	list-style-type: none;
}

.project-details ul li {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	color: #A1A1A1;
	line-height: 1.8;
}

.project-details ul li span {
	font-weight: 600;
	color: #656556;
	margin-right: 10px;
}

.project-details h2 {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	color: #454545;
	line-height: 1.2;
}

.project-details p {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	color: #A1A1A1;
	line-height: 1.4;
}

.project-nav {
	padding: 50px 0 50px  0;
	overflow: hidden;
}

.left-nav {
	position: absolute;
	left: 20px;
}

.right-nav {
	position: absolute;
	right: 20px;
}

.left-nav a, .right-nav a {
	text-decoration: none;
}

.left-nav span {
	position: absolute;
	top: 15%;
	left: 30px;
	font-family: Poppins;
	font-size: 16px;
	line-height: 1;
	color: #808080;
	-webkit-transform: translateX(-5px);
	-moz-transform: translateX(-5px);
	-o-transform: translateX(-5px);
	 transform: translateX(-5px);
	 -webkit-transition: 0.5s;
	 -moz-transition: 0.5s;
	 -o-transition: 0.5s;
	 transition: 0.5s;
}

.right-nav span {
	position: absolute;
	top: 15%;
	right: 30px;
	font-family: Poppins;
	font-size: 16px;
	line-height: 1;
	color: #808080;
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-o-transform: translateX(10px);
	 transform: translateX(10px);
	 -webkit-transition: 0.5s;
	 -moz-transition: 0.5s;
	 -o-transition: 0.5s;
	 transition: 0.5s;
}

.left-nav i {
	display: inline;
	font-size: 24px;
	color: #808080;
}

.right-nav i {
	display: inline;
	font-size: 24px;
	color: #808080;
}

.left-nav:hover span, .right-nav:hover span {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	 transform: translateX(0);
}

/* -----------------------------------------------
----------- Project Single Styling End -----------
-------------------------------------------------*/


/* ------------ Contact Form Styling --------*/

.contact-section {
	width: 100%;
	height: 100%;
	padding: 0px 0 50px 0;
}

.contact-section h1 {
	font-family: Poppins;
	font-size: 28px;
	font-weight: 600;
	color: #001CFF;
	line-height: 1.3;
	margin-bottom: 20px;
}

.contact-section p {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 300;
	color: #A1A1A1;
	line-height: 1.5;
}

.contact-form {
	padding-top: 50px;
}

label {
	display: block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: #001CFF;
	text-align: left;
}

.form-control {
  border: 0px;
  border-radius: 0px;
  margin-top: 10px;
  background: transparent;
  margin-bottom: 40px;
  border-bottom: 1px solid #999999;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
    transition: 0.5s;
}

.form-control:focus {
  border-color: #001CFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  font-family: Work Sans;
  font-size: 13px;
  color: #999999;
}
.form-control:-moz-placeholder {
  font-family: Work Sans;
  font-size: 13px;
  color: #999999;
}
.form-control::-moz-placeholder {
  font-family: Work Sans;
  font-size: 13px;
  color: #999999;
}
.form-control:-ms-input-placeholder {
  font-family: Quicksand;
  font-size: 13px;
  color: #999999;
}

.text-muted {
  font-family: Work Sans;
  font-size: 13px;
  color: #222;
}

.text-muted strong {
  color: #FF3333;
}

.btn-send {
  font-family: Poppins;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  border-radius: 0px;
  color: #FFFFFF;
  background: #001CFF;
	border-color: #001CFF;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
    transition: 0.5s;
}

.btn-send:hover, .btn-send:focus {
  color: #FFFFFF;
  background: #000000;
	border-color: #111111;
  outline: none !important;
}

/* -------- Contact Section Styling Ends ---- */


/* ----- CTA Section Styling Starts ----- */


/* ----- Footer Section Styling Starts ----- */


.footer-personal {
	padding: 20px 0 20px 0;
}

.footer-personal .footer-credits span {
	font-family: Poppins;
	font-size: 12px;
	color: #111111;
}

.lesspadding {
	padding-top: 0;
	padding-bottom: 30px;
}

.footer ul {
	display: inline-block;
	list-style-type: none;
	float: right !important;
}

.footer ul li {
	display: inline;
}

.footer ul li a {
	display: inline;
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	padding-right: 20px;
	color: #072DEF;
	text-decoration: none;
}

.footer span {
	display: inline;
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	color: #111111;
	text-align: right;
	text-decoration: none;
}

.footer a:hover, .footer a:focus {
  color: #6603C9;
  text-decoration: line-through;
}

.footer-credits {
	font-family: Work Sans;
	font-size: 14px;
	margin-top: 20px;
}

.footer-social {
	position: absolute;
	bottom: 15px;
	right: 15px;
}


.footer-social ul {
	list-style-type: none;
}

.footer-social ul li {
	display: inline;
	padding: 0 0 0 10px;
}

.footer-social ul li a {
	font-family: poppins;
	font-size: 12px;
	font-weight: 400;
	color: #2d2dd2;
	letter-spacing: 1px;
	text-decoration: none;
}

.footer-social ul li a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

/* ----- Footer Section Styling Ends ----- */



/*----------------------------------------------------
------------- All ------------------------------------
--------------------- Media --------------------------
------------------------------- Queries --------------
-----------------------------------------------------*/

@media only screen and (min-width: 767px) {
	.logo {
	  position: absolute;
	  top: 20px;
	  left: 20px;
	}

	#ar-about .about-intro {
		padding: 150px 50px 50px 50px;
		overflow: hidden;
	}

	.about {
		padding: 20px 0 0 0;
	}


	.footer-social {
		position: absolute;
		bottom: 15px;
		right: 15px;
	}

}

	@media only screen and (max-width : 801px) {

     .right-section{
        position: relative;
        width: 100%;
    }

		.main-logo {
			padding: 100px 0 0 0;
			text-align: center;
		}

		.intro {
			padding-top: 50px;
			text-align: center;
		}

     .left-section{
        position: relative;
        width: 100%;
        min-height: 100vh;
    }


		.intro .intro-text h1 {
			font-size: 42px;
			line-height: 1.1;
		}

		.intro .intro-text p {
			font-size: 16px;
		}

		.project-details .col-md-5 {
			margin-bottom: 20px;
		}

		.footer-personal {
			margin-top: 0;
			margin-bottom: 20px;
		}

		.footer-personal a {
			font-size: 14px;
			padding: 10px;
		}
	}


 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

   .right-section{
      -webkit-overflow-scrolling: touch;
  }
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 736px) {

   .split-home .right-section,  .split-home .left-section{
      -webkit-overflow-scrolling: touch;
  }
}

	@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation: landscape) {
   .right-section{
      -webkit-overflow-scrolling: touch;
  }
}

	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
     .left-section {
       min-height: 100vh;
    }
  }


	@media only screen and (max-width: 420px) {

		.right-section {
			 padding: 0 20px 0 20px;
	 }

		.intro {
			padding-top: 50px;
		}

		.intro .intro-text h1 {
			font-size: 34px;
			line-height: 1.1;
		}

		.footer ul {
			display: inline-block;
			list-style-type: none;
			float: none !important;
		}

	}





/* --------------------------------------------------
------- Media Queries for Split Layout Ends ---------
---------------------------------------------------*/
