
.console {
    padding: 15px;
    border: 1px solid transparent;
    color: #3c763d;
    background-color: #515250;
    border-color: #616161;
    position: fixed;
    width: auto;
    bottom: 0;
    right: 0;
}

pre {
    background-color: #c5c1c1;
    padding:10px 20px;
    margin-right: 10px;
}

.flash {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 22px;
}